.print-format {
    padding: 0;
    position: relative;
    margin-left: 0mm;
    margin-right: 0mm;
    margin-top: 10mm;
    margin-bottom: 45mm;
    font-size: 10pt;

    #header {
        /* ( 45 mm - 10 mm margin ) */
        height: 35mm;
        overflow: hidden;
        position: relative;
        margin-left: 25mm;
        margin-right: 20mm;
    }

    .contact-row {
        position: relative;
        overflow: hidden;
        left: 20mm;
        height: 45mm;
        /* müsste eigentlich 180mm sein, sieht mit 170 aber besser aus. */
        width: 170mm;
    }

    #sender {
        position: relative;
        font-size: 50%;
        height: 17.7mm;
        display: table-cell;
        vertical-align: middle;
    }

    #sender p {
        position: absolute;
        width: 85mm;
    }

    #address {
        float: left;
        width: 85mm;
        padding-left: 5mm;
    }

    #contact {
        float: right;
        width: 75mm;
        margin-top: 5mm;
    }

    #contact td {
        padding: 1.5px !important;
    }

    .document-status {
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;

        &.draft {
            color: orange;
        }

        &.cancelled {
            color: red;
        }
    }

    #subject {
        margin-bottom: 2em;
    }

    .din-mark {
        height: 1pt;
        background-color: black;
        position: absolute;
    }

    #faltmarke-1 {
        /* ( 105 mm - 10 mm margin ) */
        top: 95mm;
        width: 12mm;
    }

    #lochmarke {
        /* ( 148.5 mm - 10 mm margin ) */
        top: 138.5mm;
        width: 7mm;
    }

    #faltmarke-2 {
        /* ( 210 mm - 10 mm margin ) */
        top: 200mm;
        width: 12mm;
    }

    #text {
        margin-top: 8.46mm;
        margin-left: 25mm;
        margin-right: 20mm;
        width: 165mm;
    }

    .text-right {
        text-align: right;
    }

    .text-small {
        font-size: 8pt;
    }

    .black-border {
        border-top: solid black 1px;
        border-bottom: solid black 1px;
    }

    .w-100 {
        width: 100%;
    }

    table:not(.footer-table) {
        /* --- Nice page breaks for tables --- */
        page-break-inside: auto;
        table-layout: fixed;

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }
    
        thead {
            display: table-header-group;

            th {
                background-color: #eee;
                font-weight: bold;
                color: black;
            }
        }

        tfoot {
            display: table-row-group;
        }
    }

    .ql-editor {
        line-height: 1.42857143;
        font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif; // use `var(--font-stack)` for v16+
        overflow: hidden;

        p {
            margin: unset;
        }
    }
}

.print-format-footer {
    margin-left: 25mm;
    width: 165mm;
    margin-right: 20mm;
}

.print-format-footer-html {
  margin-left: 25mm;
  width: 165mm;
  height: 20mm;
  margin-right: 20mm;
  margin-top: -45mm;
  bottom: 10mm;
  position: absolute;
}

#pagenum {
    text-align: right;
    margin-right: 20mm;
    margin-top: 4.23mm;
    margin-bottom: 4.23mm;
    margin-left: 25mm;
    width: 165mm;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
