{% set bill_addr = frappe.get_doc("Address", doc.company_address) if doc.company_address else None %}
{% set company = frappe.get_doc("Company", doc.company) %}

{% set supplier = frappe.get_doc("Supplier", doc.vendor) %}
{% set supplier_addresses = frappe.get_all("Dynamic Link", filters={"link_doctype": "Supplier", "link_name": supplier.name, "parenttype": "Address"}, fields=["parent"]) %}
{% set pay_addr = frappe.get_doc("Address", supplier_addresses[0]["parent"]) %}

<!-- HEAD -->
<div id="header">
    <div class="letter-head">
        {{ letter_head }}
    </div>
</div>

<div class="contact-row">
    <div id="address">
        <div id="sender">
            {% if bill_addr %}
                <p>{{ bill_addr.address_title }} &#183; {{ bill_addr.address_line1 }} &#183;
                {% if bill_addr.address_line2 %}{{ bill_addr.address_line2 }}<br>{% endif %}
                {{ bill_addr.pincode }} {{ bill_addr.city }}
                {% if bill_addr.country != pay_addr.country -%}
                        &#183; {{ bill_addr.country | upper }}
                {%- endif %}
                </p>
            {% endif %}
        </div>
        {{ supplier.supplier_name }}<br />
        {{ pay_addr.get_display() }}
    </div>

    <div id="contact">
        <table class="w-100 text-small">
            <colgroup>
                <col style="width: 25mm">
                <col style="width: 50mm">
            </colgroup>

            <tbody>
                {% if company.phone_no %}
                <tr>
                    <td>{{ _("Phone") }}:</td>
                    <td class="text-right">{{ company.phone_no }}</td>
                </tr>
                {% endif %}

                {% if company.email %}
                <tr>
                    <td>{{ _("Email") }}:</td>
                    <td class="text-right">{{ company.email }}</td>
                </tr>
                {% endif %}

                <tr>
                    <td>{{ _("Date") }}:</td>
                    <td class="text-right">{{ frappe.utils.formatdate(doc.transaction_date, "long") }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="faltmarke-1"  class="din-mark"></div>
<div id="lochmarke" class="din-mark"></div>
<div id="faltmarke-2"  class="din-mark"></div>

<!-- CONTENT -->
<div id="text">
    {% if doc.docstatus == 0 %}
        <div class="document-status draft">{{ _("Draft") }}</div>
    {% elif doc.docstatus == 2 %}
        <div class="document-status cancelled">{{ _("Cancelled") }}</div>
    {% endif %}
    <div id="subject">
        <strong>{{ _("Request for Quotation") }} {{ doc.name }}</strong>
    </div>

    <table class="w-100 text-small">
        <thead class="black-border">
            <tr>
                <th style="width: 5%">{{ _("Sr") }}</th>
                <th style="width: 75%">{{ _("Description") }}</th>
                <th style="width: 10%">{{ _("Unit") if not print_settings.print_uom_after_quantity else '&nbsp;'}}</th>
                <th style="width: 10%">{{ _("Qty") }}</th>
            </tr>
        </thead>

        <tbody>
            {% for n in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><b>{{ _(n.item_name) }}</b></td>
                    <td>{{ _(n.uom) if not print_settings.print_uom_after_quantity else '&nbsp;'}}</td>
                    <td>
                        {{ n.get_formatted("qty") }}
                        {% if print_settings.print_uom_after_quantity %}
                            {{ _(n.uom) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        {% if (n.description | striptags) != n.item_name %}
                            {{ n.description }}<br>
                        {% endif %}

                        {{ _("Our Part No.: {0}").format(n.item_code) }}
                        {% if n.supplier_part_no %}
                            <br>
                            {{ _("Your Part No.: {0}").format(n.supplier_part_no) }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="black-border"></tfoot>
    </table>

    {% if doc.terms and (doc.terms | striptags) %}
        <br>
        {{ doc.terms }}
    {% endif %}
</div>

<!-- FOOTER -->
<div id="footer-html">
    <div class="letter-head-footer">
        <div class="print-format-footer visible-pdf">
            <div id="pagenum">
                {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
            </div>
            {{ footer }}
        </div>

        <div class="print-format-footer-html hidden-pdf">
            <div id="pagenum">
                {{ _("Page {0} of {1}").format(1, "n") }}
            </div>
            {{ footer }}
        </div>
    </div>
</div>

