<style>
    .print-format {
        margin-left: 0mm;
        margin-right: 0mm;
        margin-top: 10mm;
        margin-bottom: 60mm;
        font-size: 10pt;
    }
</style>

{% set company_address_names = frappe.get_all("Address", filters=[["Dynamic Link", "link_doctype", "=", "Company"], ["Dynamic Link", "link_name", "=", "ALYF GmbH"]], or_filters={"address_type": "Billing", "is_primary_address": 1}, pluck="name") %}
{% set cmp_addr = frappe.get_doc("Address", company_address_names[0]) if company_address_names else None %}
{% set company = frappe.get_doc("Company", doc.company) %}

{% set supplier_address_names = frappe.get_all("Address", filters=[["Dynamic Link", "link_doctype", "=", "Supplier"], ["Dynamic Link", "link_name", "=", doc.supplier]], or_filters={"address_type": "Billing", "is_primary_address": 1}, pluck="name") %}
{% set pay_addr = frappe.get_doc("Address", supplier_address_names[0]) if supplier_address_names else None %}

<!-- HEAD -->
<div id="header">
    <div class="letter-head">
        {{ letter_head }}
    </div>
</div>

<div class="contact-row">
    <div id="address">
        {% if cmp_addr %}
        <div id="sender">
            <p>{{ cmp_addr.address_title }} &#183; {{ cmp_addr.address_line1 }} &#183;
            {% if cmp_addr.address_line2 %}{{ cmp_addr.address_line2 }}<br>{% endif %}
            {{ cmp_addr.pincode }} {{ cmp_addr.city }}
            {% if pay_addr and (cmp_addr.country != pay_addr.country) -%}
                    &#183; {{ cmp_addr.country | upper }}
            {%- endif %}
            </p>
        </div>
        {% endif %}
        {{ doc.vendor }}
        {% if pay_addr %}<br/>{{ pay_addr.get_display() }}{% endif %}
    </div>

    <div id="contact">
        <table class="text-small">
            {% if company.phone_no %}
            <tr>
                <td>{{ _("Phone") }}:</td>
                <td class="text-right">{{ company.phone_no }}</td>
            </tr>
            {% endif %}

            {% if company.email %}
            <tr>
                <td>{{ _("Email") }}:</td>
                <td class="text-right">{{ company.email }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ _("Date") }}:</td>
                <td class="text-right">{{ frappe.utils.formatdate(doc.transaction_date, "long") }}</td>
            </tr>
        </table>
    </div>
</div>

<div id="faltmarke-1"  class="din-mark"></div>
<div id="lochmarke" class="din-mark"></div>
<div id="faltmarke-2"  class="din-mark"></div>

<!-- CONTENT -->
<div id="text" class="">
	<div id="subject">
		<strong>{{ _("Request for Quotation") }} {{ doc.name }}</strong>
    </div>
    <div class="salutation">
    {% if frappe.lang == "de" %}
        <p>Sehr geehrte Damen und Herren,</p>
        <br>
        <p>bitte machen Sie uns ein Angebot über folgende Positionen:</p>
        <br>
    {% else %}
        <p>Dear Sir or Madam,</p>
        <br>
        <p>Please send a quotation for the following items:</p>
        <br>
    {% endif %}
    </div>
    <br>
    <br>
    <table class="w-100 text-small">
        <thead class="black-border">
            <tr>
                <th style="width: 10%">{{ _("Sr") }}</th>
                <th style="width: 30%">{{ _("Description") }}</th>
                <th style="width: 10%">{{ _("Unit") if not print_settings.print_uom_after_quantity else '&nbsp;'}}</th>
                <th style="width: 10%">{{ _("Qty") }}</th>
            </tr>
        </thead>

        <tbody>
            {% for n in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><b>{{ _(n.item_name) }}</b></td>
                    <td>{{ _(n.uom) if not print_settings.print_uom_after_quantity else '&nbsp;'}}</td>
                    <td>
                        {{ n.get_formatted("qty") }}
                        {% if print_settings.print_uom_after_quantity %}
                            {{ _(n.uom) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">{{ n.description | striptags }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="black-border"></tfoot>
    </table>

    <br>

    <div class="epilogue">
        {% if (doc.terms | striptags) %}
            <div class="terms">
                {{ doc.terms }}
            </div>
            <br>
        {% endif %}

        <div class="salutation">
        {% if doc.message_for_supplier %}{{ doc.message_for_supplier }}{% endif %}

        {% if frappe.lang == "de" -%}
            <p>Dieses Formular wurde maschinell erstellt und ist ohne Unterschrift gültig.</p>
        {% else %}
            <p>This form was created automatically and is valid without a signature.</p>
        {%- endif %}
        </div>
    </div>
</div>

<!-- FOOTER -->
<div id="footer-html" class="visible-pdf">
    <p id="pagenum">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p>
    <div class="print-format-footer">
        {{ footer }}
    </div>
</div>
