<style>
    .print-format {
        margin-left: 0mm;
        margin-right: 0mm;
        margin-top: 10mm;
        margin-bottom: 60mm;
        font-size: 10pt;
    }
</style>

{% set company = frappe.get_doc("Company", doc.company) %}
{% set cmp_addr = frappe.get_doc("Address", doc.company_address) if doc.company_address else None %}
{% set pay_addr = frappe.get_doc("Address", doc.customer_address) %}

{% if doc.contact_person %}
    {% set contact = frappe.get_doc("Contact", doc.contact_person) %}
{% endif %}

<!-- HEAD -->
<div id="header">
    <div class="letter-head">
        {{ letter_head }}
    </div>
</div>

<div class="contact-row">
    <div id="address">
        {% if cmp_addr %}
        <div id="sender">
            <p>{{ cmp_addr.address_title }} &#183; {{ cmp_addr.address_line1 }} &#183;
                {% if cmp_addr.address_line2 %}{{ cmp_addr.address_line2 }} <br>{% endif %}
                {{ cmp_addr.pincode }} {{ cmp_addr.city }}
                {% if pay_addr and (cmp_addr.country != pay_addr.country) -%}
                    &#183; {{ cmp_addr.country | upper }}
                {%- endif %}
            </p>
        </div>
        {% endif %}
        {{ doc.customer_name }}<br />
        {% if contact %}
                {%- if contact.salutation -%}
                    {{ contact.salutation }}
                {%- endif %}
                {%- if contact.salutation in ["Hr.", "Herr"] %}n{% endif %}
                {{ contact.first_name }} {{ contact.last_name }}<br>
        {% endif %}
        {{ doc.address_display or "" }}
    </div>

    <div id="contact">
        <table>
            {% if company.phone_no %}
            <tr>
                <td>{{ _("Phone") }}:</td>
                <td class="text-right">{{ company.phone_no }}</td>
            </tr>
            {% endif %}

            {% if company.email %}
            <tr>
                <td>{{ _("Email") }}:</td>
                <td class="text-right">{{ company.email }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>{{ _("Date") }}:</td>
                <td class="text-right">{{ frappe.utils.formatdate(doc.posting_date, "long") }}</td>
            </tr>

            {% if not doc.is_return %}
            <tr>
                <td>{{ _("Payment Due Date") }}:</td>
                <td class="text-right">{{ frappe.utils.formatdate(doc.due_date, "long") }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>{{ _("Our Sign") }}:</td>
                <td class="text-right">{{ doc.name }}</td>
            </tr>

            {% if doc.po_no %}
            <tr>
                <td>{{ _("Your Sign") }}:</td>
                <td class="text-right">{{ doc.po_no }}</td>
            </tr>
            {% endif %}

            {% if doc.tax_id %}
            <tr>
                <td>{{ _("Your Tax ID") }}:</td>
                <td class="text-right">{{ doc.tax_id }}</td>
            </tr>
            {% endif %}

            {% if doc.from_date and doc.to_date %}
            <tr>
                <td>{{ _("Performance Period") }}:</td>
                {# If the year matches (first 4 chars in ISO-string), omit it for from_date #}
                {% if doc.from_date.year is defined %}
                    {% set date_format = "dd.mm." if doc.from_date.year == doc.to_date.year else "dd.mm.yy" %}
                {% else %}
                    {% set date_format = "dd.mm." if doc.from_date[:4] == doc.to_date[:4] else "dd.mm.yy" %}
                {% endif %}
                <td class="text-right">{{ frappe.utils.formatdate(doc.from_date, date_format) }} - {{ frappe.utils.formatdate(doc.to_date, "dd.mm.yyyy") }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

<div id="faltmarke-1" class="din-mark"></div>
<div id="lochmarke" class="din-mark"></div>
<div id="faltmarke-2" class="din-mark"></div>

<!-- CONTENT -->
<div id="text" class="">
	<div id="subject">
		<strong>{{ _("Rechnung") }} {{ doc.name }} {% if doc.is_return %}({{ _("Korrektur") }}){% endif %}</strong>
    </div>
    <div class="salutation">
    {% if frappe.lang == "de" %}
        <p>Sehr geehrte Damen und Herren,</p>
        <br>
        {% if doc.is_return %}
            <p>hiermit korrigieren wir Rechnung {{ doc.return_against }} vom {{ frappe.format_date(frappe.db.get_value("Sales Invoice", doc.return_against, "posting_date")) }}:</p>
        {% else %}
            <p>vielen Dank für Ihren Auftrag! Wir erlauben uns, unsere Leistungen wie folgt in Rechnung zu stellen:</p>
        {% endif %}
    {% else %}
        <p>Dear Sir or Madam,</p>
        <br>
        {% if doc.is_return %}
            <p>we hereby correct invoice {{ doc.return_against }} dated {{ frappe.format_date(frappe.db.get_value("Sales Invoice", doc.return_against, "posting_date")) }}:</p>
        {% else %}
            <p>many thanks for your order! We have enjoyed working for you. We send you the following invoice for our work:</p>
        {% endif %}
    {% endif %}
    </div>
    <br>

    <table class="w-100 text-small">
        <thead class="black-border">
            <tr>
                <th style="width: 5%">{{ _("Sr") }}</th>
                <th style="width: 45%">
                    {{ _("Description") }}</th>
                <th style="width: 10%">{{ _("Unit") if not print_settings.print_uom_after_quantity else '&nbsp;'}}</th>
                <th style="width: 10%">{{ _("Qty") }}</th>
                <th style="width: 12%">{{ _("Price") }}</th>
                <!-- <th style="width: 15%">{{ _("Discount") }}</th> -->
                <th style="width: 18%" class="text-right">{{ _("Amount") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for n in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><b>{{ _(n.item_name) }}</b></td>
                    <td>{{ _(n.uom) if not print_settings.print_uom_after_quantity else '&nbsp;'}}</td>
                    <td>
                        {{ n.get_formatted("qty") }}
                        {% if print_settings.print_uom_after_quantity %}
                            {{ _(n.uom) }}
                        {% endif %}
                    </td>
                    <td>{{ n.get_formatted("rate") }}</td>
                    <!-- <td>{{ n.get_formatted("discount_amount") }}</td> -->
                    <td class="text-right">{{ n.get_formatted("amount") }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">{{ n.description }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot class="black-border">
            {% if doc.additional_discount_percentage or doc.discount_amount %}
                <tr>
                    <td></td>
                    <td>{{ _("Total") }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">{{ doc.get_formatted("total") }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ _("Discount") }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        {% if doc.additional_discount_percentage %}
                            {{ doc.get_formatted("additional_discount_percentage") }} &percnt;
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{ doc.get_formatted("discount_amount") }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td>{{ _("Net Total") }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">{{ doc.get_formatted("net_total") }}</td>
            </tr>
            {% if doc.tax_category == "Reverse Charge" -%}
                <tr>
                    <td></td>
                    <td>Steuerschuldnerschaft des Leistungsempfängers.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"></td>
                </tr>
            {% else %}
                {% for tax_row in doc.taxes -%}
                    {% if tax_row.tax_amount or print_settings.print_taxes_with_zero_amount %}
                        <tr>
                            <td></td>
                            <td>
                            {{ tax_row.description }}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                {{ tax_row.get_formatted("tax_amount") }}
                            </td>
                        </tr>
                    {% endif %}
                {%- endfor %}

                {% if doc.tax_exemption_reason %}
                    <tr>
                        <td></td>
                        <td>{{ _(doc.tax_exemption_reason) }}</td>
                        <td></td>
                        <td></td>
                        <td colspan="2"></td>
                    </tr>
                {% endif %}
            {%- endif %}
            <tr>
                <td></td>
                <td>
                    <strong>{{ _("Grand Total") }}</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right"><strong>{{ doc.get_formatted("grand_total") }}</strong>
                </td>
            </tr>
            {% if doc.total_advance %}
                <tr>
                    <td></td>
                    <td>{{ _("Total Advance") }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        {{ doc.get_formatted("total_advance") }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ _("Outstanding Amount") }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        {{ doc.get_formatted("outstanding_amount") }}
                    </td>
                </tr>
            {% endif %}
        </tfoot>
    </table>

    <br>

    <div class="epilogue">
        {% if doc.terms and (doc.terms | striptags) %}
            {{ doc.terms }}
            <br>
        {% endif %}

        {% if frappe.lang == "de" -%}
            {% if not doc.is_return %}
                <p>Sofern nicht anders angegeben entspricht das Liefer- bzw. Leistungsdatum dem Rechnungsdatum. Bitte überweisen Sie den Rechnungsbetrag unter Angabe des Verwendungszwecks "{{ doc.name }}" auf das unten angegebene Konto.</p><br>
                <p>Wir danken Ihnen für Ihr Vertrauen und die gute Zusammenarbeit. Wir freuen uns über Ihre Weiterempfehlung.</p>
            {% endif %}
            <br>
            <div class="salutation">
                <p>Beste Grüße{% if pay_addr %} nach {{ pay_addr.city }}{% endif %}</p>
                <p>Ihr Team der {{ company.company_name }}</p>
            </div>
        {% else %}
            {% if not doc.is_return %}
                <p>Unless otherwise stated, the date of delivery or performance corresponds to the date of invoice. Please transfer the invoice amount to the account stated below, stating the reason for payment "{{ doc.name }}".</p><br>
                <p>Thank you for your trust and the good cooperation. We would be pleased about your recommendation.</p>
            {% endif %}
            <br>
            <div class="salutation">
                <p>Best regards,</p>
                <p>Your team at {{ company.company_name }}</p>
            </div>
        {%- endif %}
    </div>

    {% if doc.timesheets -%}
    <div style="page-break-after: always"></div>
    <div class="timesheets">
        <h3>Zeiterfassung</h3>
        <div data-fieldname="timesheets" data-fieldtype="Table">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="width: 40px" class="table-sr">{{ _("Sr") }}</th>
                        <th style="width: 150px;" class="" data-fieldname="timesheets" data-fieldtype="Table">
                            {{_("Date")}}</th>
                        <th style="width: 300px;" class="" data-fieldname="timesheets" data-fieldtype="Table">
                            {{_("Note")}}</th>
                        <th style="width: 80px;" class="text-right" data-fieldname="timesheets" data-fieldtype="Table">
                            {{_("Hours")}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ts in doc.timesheets | sort(attribute='start_date') %}
                    {% set timesheet = frappe.get_doc("Timesheet", ts.time_sheet)%}
                        {% if timesheet.total_billable_amount > 0 and timesheet.customer_note %}
                            <tr style="page-break-inside: avoid;">
                                <td class="table-sr">{{ loop.index }}</td>
                                <td class="" data-fieldname="timesheets" data-fieldtype="Table">
                                    <div class="value">
                                        {{ timesheet.get_formatted('start_date') }}
                                    </div>
                                </td>
                                <td class="" data-fieldname="timesheets" data-fieldtype="Table">
                                    <div class="value">
                                        {{ timesheet.note }}
                                    </div>
                                </td>
                                <td class="text-right" data-fieldname="timesheets" data-fieldtype="Table">
                                    <div class="value">
                                        {{ "{:.2f}".format(timesheet.total_billable_hours) | replace(".", ",") }}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {%- endif %}
</div>

<!-- FOOTER -->
<div id="footer-html" class="visible-pdf">
    <p id="pagenum">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p>
    <div class="print-format-footer">
         {{ footer }}
    </div>
</div>
